@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: playstation;
    src: url(../zrnic\ rg.otf) format(opentype);

}
:root{




--font-padrao: 'roboto condensed';
--fonte-jf: 'playstastion';
}
*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image:linear-gradient(#f9f927b0, #a64d059f);
   
}
header {
    background-image:linear-gradient(#f9f927, #a64d05);
    min-height: 150px;
    text-align: center;
    padding: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
nav{
    background-color: #f9f92791;
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.171);
}
nav > a{
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}
nav > a:hover{
    background-color: #a64d05;
    color: #F9F927;
}
main{
    min-width: 300px;
    max-width: 900px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsl(174, 57%, 7%);
    padding: 20px;
    margin: auto;
    border-bottom-right-radius: 10px;
  }

main img{
    width: 100%;
}
main h1{
    font-family: var(--fonte-jf);
    font-weight: normal;
    font-size: 1.8em;
}
main h2{
    font-family: var(--fonte-jf);
    color:#a64d05;
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, #a64d05, transparent);
    line-height: 2em;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
 }
 main a {
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
}


aside{
    background-color: rgba(128, 128, 128, 0.705);
}
div.video{
    margin: -3px -33px -13px -38px;
    padding: 0px;
    padding-bottom: 32%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside{
    background-color: #f9f9276b;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}
aside > h3{
    background-color:#a64d05;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: #a64d05;
    color: white;
    text-align: center;
    padding: 0.8px;
    margin: 5px;
}
footer a:hover{
    text-decoration: underline;
}

